<div class="justify-content-center row reg pt-5 pb-5">
        <div class="register_card col-8">
                
        <h1>Register to Albam</h1>
        <form action="" method="post">
        <input class="inp" type="text" name="name" placeholder="Username">
        <input class="inp" type="email" name="email" placeholder="Email">
        <input class="inp" type="password" name="password" placeholder="Password">
        <input class="submit_btn" type="submit" value="Register">
        </form>

        <% if (typeof error !== 'undefined') { %>
      <div class="error-message"><%= error %></div><%}%>
                
        <p class="pt-2">Already have an account <a href="/user/login">Login ?</a></p>
        </div>

