<h1 class="title p-4"> Add new Category </h1>
<div class="form">
<form action="" method="post">

   <input class="inp" type="text" name="name" placeholder="Category name">
   <textarea class="inp" name="description" id="description" placeholder="Product description"></textarea>
   <input class="submit" type="submit" name="" id="" value="Add">

</form>
</div>
