<h1 class="title p-4"> Edit Category </h1>
<div class="form">
<form action="" method="post">

   <input class="inp" type="text" name="name" placeholder="Category name" value="<%= category.name %>">
   <input class="inp" type="text" name="description" id="description" value="<%= category.description %>" placeholder="Product description" ></input>
   <input class="submit" type="submit" name="" id="" value="Update">

</form>
</div>
